<div
  class="bg-neutral-800 rounded-xl w-full p-4 flex justify-between border border-neutral-700"
>
  <img src="images/logo-dark.svg" class="fill-white stroke-white" alt="" />

  <app-theme-switch></app-theme-switch>
</div>

<div
  class="flex flex-col md:flex-row md:justify-between md:items-center flex-wrap justify-center items-center"
>
  <h2 class="text-white text-center mt-12 mb-4 text-3xl font-semibold">
    Extensions List
  </h2>
  <ul class="flex justify-between space-x-2 items-center">
    <li>
      <button appFilterButton>All</button>
    </li>
    <li>
      <button appFilterButton>Active</button>
    </li>
    <li>
      <button appFilterButton>Inactive</button>
    </li>
  </ul>
</div>
