@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-filter {
    @apply rounded-full border border-neutral-600 bg-neutral-700 px-5 py-2 text-white hover:bg-red-400 hover:border-red-400 duration-200 hover:text-neutral-900;
  }
}

html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1rem;
  @apply bg-dark-gradient;
}
